<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Rodrigo Azuero</title>

    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Rodrigo Azuero</h1>
        <p></p>


        
            <img src="{{site.baseurl}}/files/photo.jpg" alt="HTML5 Icon" style="width:200px;height:300px;">

            



      </header>
      <section>

<h3>
<a id="welcome-to-github-pages" class="view" href="#welcome-to-github-pages" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a> 
{% include nav.html %}
</h3>


{{content}}

      </section>
      <footer>
        <p><small> <img src="{{site.baseurl}}/files/GitHub-Mark-120px-plus.png" alt="HTML5 Icon" style="width:20px;height:20px;"> Visit my github website <a href="https://github.com/rodazuero"> here </a></small></p>
        <p><small> <img src="{{site.baseurl}}/files/Logo-2C-128px-R.png" alt="HTML5 Icon" style="width:85px;height:20px;"> Visit my Linkedin profile <a href="https://www.linkedin.com/in/rodrigo-azuero-5504732b"> here </a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js">
      try {
              var pageTracker = _gat._getTracker("UA-67325123-1");
            pageTracker._trackPageview();
            } catch(err) {}
    </script>
    
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67325123-1', 'auto');
  ga('send', 'pageview');

</script>
    
  </body>
</html>
